@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.kaufman__triangle {
  position: absolute;
  right: -124px;
  top: 0;
  z-index: 1;
  width: 660px;
  height: 636px;
  animation: rotation 20s infinite linear;
}